*.DS_Store
*.log
_*.md
_*.pdf
_*.py
2-XML/*.code/
2-XML/CASTELO-BRANCO,Camilo-AmorDePerdição.txt
2-XML/dict.py
2-XML/json2xm.xml
2-XML/sources/CASTELO-BRANCO,Camilo-AmorDePerdição.json
2-XML/tTree.xml
3-PY/exportado.*
3-PY/sources/CASTELO-BRANCO,Camilo-AmorDePerdição.*
3-PY/sources/contactos.json
3-PY/sources/dict*.json*
3-PY/sources/example*.vcf
3-PY/sources/forecasts.json
3-PY/sources/json2xm.xml
3-PY/sources/stemTree.xml
3-PY/tTree.xml
